/*
|--------------------------------------------------------------------------
| Global Styles
|--------------------------------------------------------------------------
*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-wrapper {
    width: 100%;
    position: absolute;
    margin-top: 100px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #page-wrapper {
        padding: 20px;
        margin-top: 50px;
        position: relative;
    }
}

/*
|--------------------------------------------------------------------------
| Login Page
|--------------------------------------------------------------------------
*/
.login-page {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(34, 34, 34);
}

.login-container {
    display: table;
    height: 100%;
    margin: 0 auto;
}

.login-subcontainer {
    display: table-cell;
    vertical-align: middle;
}

.login-panel {
    width: 300px;
}

/*
|--------------------------------------------------------------------------
| Side Navigation
|--------------------------------------------------------------------------
*/
@media (min-width: 768px) {
    .side-nav {
        position: fixed;
        top: 63px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav > li > a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/
.btn-field {
    margin-top: 15px;
}

.btn-tools-1 {
    min-width: 28px;
    width: 28px;
}

.btn-tools-2 {
    width: 64px;
    min-width: 64px;
}

.btn-tools-3 {
    width: 96px;
    min-width: 96px;
}

/*
|--------------------------------------------------------------------------
| Utils
|--------------------------------------------------------------------------
*/
.margin-top-5 {
    margin-top: 0.5em;
}

.margin-top-10 {
    margin-top: 1.0em;
}

.margin-top-15 {
    margin-top: 1.5em;
}

.modal-body {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

/*
|--------------------------------------------------------------------------
| Sortable
|--------------------------------------------------------------------------
*/
.sortable .handle {
    cursor: move;
}